@font-face {
    font-family: 'HelveticaNeue';
    src: url('/fonts/HelveticaNeue.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'HelveticaNeue-BoldItalic';
    src: url('/fonts/HelveticaNeue-BoldItalic.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'HelveticaNeueItalic';
    src: url('/fonts/HelveticaNeueItalic.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'HelveticaNeue-Medium';
    src: url('/fonts/HelveticaNeue-Medium.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Pacifico-Regular';
    src: url('/fonts/Pacifico-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Raleway-Bold';
    src: url('/fonts/Raleway-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Raleway-SemiBold';
    src: url('/fonts/Raleway-SemiBold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

html {
  box-sizing: border-box;
  background-color:antiquewhite;
}

body {
  padding: 0;
  margin: auto;
  max-width: 1600px;
  max-height: 1968px;
  background-image: url(img/background.png);
}

.header {
  position: relative;
  width: 100%;
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
  color: #fff;
  border-top: 10px solid #2ecc71;
  background-image: url(img/header/img.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto; 
}

.center {
  width: 70%;
  margin: 0 auto;
}

.header_left {
    display: inline-block;
    max-width: 44%;
    padding: 0;
    vertical-align: middle; }

header p {
    font-family: 'Pacifico-Regular';
    color:  #ffffff;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 20px;
    text-align: left;
    padding-top: 169px;
}

header h1 {
    font-family: 'HelveticaNeue';
    color:  #ffffff;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    text-align: left;
}

#dot {
   color: #2ecc71;  
}

.icons {
    display: inline-flex;
    margin: auto;
}

.icons_back {
    display: inline-flex;
    width: 56px;
    height: 55px;
    border-radius: 50%;
    opacity: 0.6;
    background-color: black;
} .icons_back:hover {
    opacity: 1;
    background-color: #39CA75;
}

.ml{
   margin-left: 12px; 
}

.hand {
    display: inline-block;
    position: inherit;
    float: right;
    padding: 0;
    vertical-align: middle;
    width: 439px;
    height: 507px;
    margin-top: 95px;
}

.gems {
    display:inline-flex;
    margin-left: auto;
    margin-right: auto;
}

.list {
    list-style: none;
    margin-top: 3.5%;
    margin-bottom: 4%
}

.items {
    display: inline-block;
    max-width: 30%;
    text-align: center;
}

.gem_container {
    display: inline-flex;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-position: center;
    background-color: #39CA75;
}

.icon_item {
    display: inline-flex;
    width: 53px;
    height: 53px;
    opacity: 0.6px;
}

.gem_name {
    height: 17px;
    color: #222222;
    font-family: "Raleway-SemiBold";
    font-size: 22px;
    font-weight: 400;
    line-height: 18px;
    text-align:center;
}

.gem_descryptor {
    height: 42px;
    margin-left: 71px;
    margin-right: 39px;
    color: #848484;
    font-family: "HelveticaNeue";
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    border-radius: 50%;
    text-align:center;
}

.notifier {
    width: 1600px;
    height: 427px;
    background-color: #e3e3e3;
}

.notifier_content {
   display: inline-block;
   vertical-align: top;
   width: 534px;
   height: 91px;
   margin-top: 2%;
   margin-right: 4%;
   margin-bottom: 8.5%;
   margin-left: 13%;
}

.get_notified {
    height: 22px;
    color: #222222;
    font-family: "Raleway-SemiBold";
    font-size: 22px;
    font-weight: 400;
    line-height: 18px;
}

.lorem {
    height: 91px;
    color: #848484;
    font-family: "HelveticaNeue";
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.notifier_input {
    display: inline-block;
    vertical-align: middle; 
    width: 309px;
    height: 56px;
    border: 1px solid #c8c8c8;
    padding: 0 7%;
    background-color: #ffffff;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;    
    font-family: "HelveticaNeue";
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;    
}

.notifier_button {
    width: 141px;
    height: 56px;
    background-color: #2ecc71;
    padding: 0 7%;
    border: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    display: inline-block;
    vertical-align: middle;
    color: #ffffff;
    font-family: "Raleway-SemiBold";
    font-size: 22px;
    font-weight: 700;
    line-height: 18px;
}

.notifier_video {
    display: inline-block;
    vertical-align: top;
    border: none;
    max-width: 32%;
    margin-top: 3.5%;
    margin-right: 13%;
    margin-left: 4%;
}

.contacts {
    text-align: center;
}

.contacts cite {
    width: 88px;
    height: 14px;
    color: #2e2e2e;
    font-family: "Raleway-SemiBold";
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
}

.quote {
    max-width: 55%;
    margin: 0 auto;
    padding: 2% 0%;
    color: #848484;
    font-family: "HelveticaNeueItalic";
    font-size: 18px;
    font-weight: 300;
}

.person-name {
    font-family: "Raleway-Bold";
    font-size: 18px;
}

.peoples {
    list-style: none;
}

.company_person {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
} 

.m1 {
    background-image: url("/img/humans/face1.png");
}
.m2 {
    background-image: url("/img/humans/face3.png");
}
.m3 {
    background-image: url("/img/humans/face4.png");
}
.m4 {
    background-image: url("/img/humans/face5.png");
}
.m5 {
    background-image: url("/img/humans/face6.png");
}
.m6 {
    background-image: url("/img/humans/face8.png");
}
.m7 {
    background-image: url("/img/humans/face9.png");
}
.m8 {
    background-image: url("/img/humans/face11.png");
}
.m9 {
    background-image: url("/img/humans/face12.png");
}
.m10 {
    background-image: url("/img/humans/face14.png");
}
.m11 {
    background-image: url("/img/humans/face15.png");
}
.m12 {
    background-image: url("/img/humans/face17.png");
}
.m13 {
    background-image: url("/img/humans/face18.png");
}
.f1 {
    background-image: url("/img/humans/face2.png");
}
.f2 {
    background-image: url("/img/humans/face5.png");
}
.f3 {
    background-image: url("/img/humans/face7.png");
}
.f4 {
    background-image: url("/img/humans/face10.png");
}
.f5 {
    background-image: url("/img/humans/face13.png");
}
.f6 {
    background-image: url("/img/humans/face16.png");
}

.networks {
   margin-bottom: 5%;
   text-align: center;   
}

.hello {
    height: 24px;
    color: #000000;
    font-family: "Raleway-SemiBold";
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
}

.text {
    height: 16px;
    color: #848484;
    font-family: "HelveticaNeue";
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.icons_social {
    display:inline-flex;
}

.network_back {
    display: inline-flex;
    margin-left: 10px;
    margin-top: 25px;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-image: url(img/socials/container.png);
} .network_back:hover {
    background-image: url(img/socials/container_selected.png);
}

.position {
    margin: auto;
}

.footer {
    max-width: 1600px;
    max-height: 130px;
    padding-top: 60px;
    padding-bottom: 54px;
    text-align: center;
    background-color: #e3e3e3;
}

.footer_link {
    padding-right: 1.2%;
    padding-left: 1.2%;
    text-align: center;
    text-decoration: none;
    font-family: "HelveticaNeue";
     width: 544px;
    color: #848484;
    font-weight: 400;
    line-height: 26px;
}
